<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html(title='Add new user')}"></head>
<nav th:insert="~{fragments/navbar.html}"></nav>

<body class="d-flex flex-column min-vh-100">

<div class="col-6 container flex-grow-1 mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4 text-center">Register</h2>
            <form th:action="@{/users/add}" th:object="${userDTO}" method="post">

                <div class="form-group">
                    <span class="text-danger" th:text="${not_unique_name != null} ? ${not_unique_name}"></span>
                    <label for="username">Username:</label>
                    <input type="text" th:field="*{username}" class="form-control" id="username"
                           placeholder="Enter your username">
                    <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                </div>

                <div class="form-group mt-3 mb-3">
                    <label>Upload Image</label>
                    <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                    <div class="form-group">
                        <input type="file" id="imageInput" name="image" accept="image/*" class="form-control-file">
                    </div>
                    <button type="button" id="uploadButton" class="btn btn-primary mt-3 mb-3">Upload image</button>
                    <input type="hidden" id="imageFileName" th:field="*{profilePicturePath}" name="profilePicturePath">
                    <img id="my_profile_img" th:if="${profilePicturePath == null}" src="/images/no_img.png" alt="No Image Available"
                         class="img-thumbnail" style="max-width: 400px; max-height: 400px;"/>
                    <img th:if="${profilePicturePath != null}" th:src="'/images/' + ${profilePicturePath}" alt="User profile picture"
                         class="img-thumbnail" style="max-width: 400px; max-height: 400px;">
                </div>
                <span class="text-danger" th:if="${#fields.hasErrors('profilePicturePath')}"
                      th:errors="*{profilePicturePath}">
                </span>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <label class="text-danger" th:text="|${PasswordDoNotMatch}|"></label>
                    <input type="password" th:field="*{password}" class="form-control" id="password"
                           placeholder="Enter password">
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </div>
                <div class="form-group">
                    <label for="rePassword">Re-enter Password:</label>
                    <input type="password" th:field="*{rePassword}" class="form-control" id="rePassword"
                           placeholder="Retype password">
                    <span class="text-danger" th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}"></span>
                </div>
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input type="text" th:field="*{firstName}" class="form-control" id="firstName"placeholder="Enter your First name">
                    <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name:</label>
                    <input type="text" th:field="*{lastName}" class="form-control" id="lastName"placeholder="Enter your Last name">
                    <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{lastName}"></span>
                </div>
                <div class="form-group">
                    <label for="country">Country:</label>
                    <select th:field="*{country}" class="form-control" id="country">
                        <option value="" disabled selected hidden>Изберете вашата държава</option>
                        <option th:each="country : ${countries}" th:value="${country.getId()}" th:text="${country.getName()}"></option>
                    </select>
                    <span class="text-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></span>
                </div>
                <div class="form-group">
                    <label for="city"> City:</label>
                    <input type="text" th:field="*{city}" class="form-control" id="city"placeholder="Enter your city">
                    <span class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                </div>
                <div class="form-group">
                    <label for="email">E-mail:</label>
                    <input type="email" th:field="*{email}" class="form-control" id="email"placeholder="Enter e-mail">
                    <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">Phone Number:</label>
                    <input type="text" th:field="*{phoneNumber}" class="form-control" id="phoneNumber"placeholder="Enter your phone number">
                    <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                </div>

                <hr>

                <div class="form-group">
                    <label for="schoolName">School Name:</label>
                    <input type="text" th:field="*{schoolName}" class="form-control" id="schoolName"placeholder="Enter your school name">
                    <span class="text-danger" th:if="${#fields.hasErrors('schoolName')}" th:errors="*{schoolName}"></span>
                </div>
                <div class="form-group">
                    <label for="startDate">Start Data:</label>
                    <input type="date" th:field="*{startDate}" class="form-control" id="startDate"placeholder="Enter your start data">
                    <span class="text-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span>
                </div>
                <div class="form-group">
                    <label for="endDate">End Data:</label>
                    <input type="date" th:field="*{endDate}" class="form-control" id="endDate"placeholder="Enter your end data">
                    <span class="text-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></span>
                </div>


                <hr>
                <div class="form-group">
                    <label for="companyName">Company Name:</label>
                    <input type="text" th:field="*{companyName}" class="form-control" id="companyName" placeholder="Enter your company name">
                    <span class="text-danger" th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}"></span>
                </div>
                <div class="form-group">
                    <label for="position">Position:</label>
                    <input type="text" th:field="*{position}" class="form-control" id="position" placeholder="Position">
                    <span class="text-danger" th:if="${#fields.hasErrors('position')}" th:errors="*{position}"></span>
                </div>
                <div class="form-group">
                    <label for="startDateWork">Start Data:</label>
                    <input type="date" th:field="*{startDateWork}" class="form-control" id="startDateWork"placeholder="Enter your start data">
                    <span class="text-danger" th:if="${#fields.hasErrors('startDateWork')}" th:errors="*{startDateWork}"></span>
                </div>
                <div class="form-group">
                    <label for="endDate">End Data:</label>
                    <input type="date" th:field="*{endDateWork}" class="form-control" id="endDateWork"placeholder="Enter your end data">
                    <span class="text-danger" th:if="${#fields.hasErrors('endDateWork')}" th:errors="*{endDateWork}"></span>
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea th:field="*{description}" class="form-control" id="description"placeholder="Describe yourself in a few words"></textarea>
                    <span class="text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Skills:</label>
                            <div th:each="skill : ${skills}">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" th:id="${'skill_' + skill.id}" th:value="${skill.id}" th:field="*{skills}" />
                                    <label class="form-check-label" th:for="${'skill_' + skill.id}" th:text="${skill.name}"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Interest:</label>
                    <div th:each="skill : ${skills}">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" th:id="${'interest_' + skill.id}" th:value="${skill.id}" th:field="*{interest}" />
                            <label class="form-check-label" th:for="${'skill_' + skill.id}" th:text="${skill.name}"></label>

                        </div>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <button type="submit" class="btn btn-success btn-lg">Save User</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script th:inline="javascript">
    $(document).ready(function () {
        var profilePicturePath = /*[[*{userDTO.profilePicturePath}]]*/ null;
        if (profilePicturePath) {
            $('#my_profile_img').attr('src', '/images/' + profilePicturePath);
        }

        $('#uploadButton').click(function () {
            var formData = new FormData();
            var fileInput = document.getElementById('imageInput').files[0];
            formData.append('image', fileInput);

            var csrfToken = $("input[name='_csrf']").val();

            $.ajax({
                type: 'POST',
                url: '/users/upload',
                data: formData,
                contentType: false,
                processData: false,
                dataType: 'json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-CSRF-TOKEN', csrfToken);
                },
                success: function(data) {
                    var imgName = data.img_name;
                    $('#imageFileName').val(imgName);
                    $('#my_profile_img').attr('src', '/images/' + imgName);
                    formData.append('imageFileName', imgName);
                    formData.append('image', fileInput);
                },
                error: function (error) {
                    console.log('Error uploading image: ' + error);
                }
            });
        });
    });
</script>

</body>
<div th:replace="~{fragments/footer.html}"></div>
</html>